header {
    background-color: rgb(1, 146, 200);
    color: white;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: .75em;
    height: 2em;
    /*padding: 10px;*/
    width: 200;
}

body{
    background-color: whitesmoke;
}

h2{
    padding-top: 1em;
}

h4{
    font-size: 1em;
}

header>nav >ul{
    padding: 20;
    display: flex;
    list-style: none;
    
}
header>a{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-right: 5em;
    margin-left: 3em;
}
.link{
    color: white;
    font-weight: normal;
    text-decoration: none;
    margin-right: 3em;
    margin-left: 1em;
}


#divizq{
    flex-direction: column;
    float: left;
    margin-right: 1.5rem;
    width: 15rem;
}

#divizq>nav{
    background-color: rgba(214, 214, 214, 0.568);
    margin-top: 1.5em;
    padding: .5em;
    font-size: 1.125rem;
}

#divizq>nav>ul>li{
    list-style: none;
    padding: .2em;
}

#op{
    background-color: rgba(214, 214, 214, 0.568);
    margin-top: 1.5em;
    padding: .75em;
}

#op h3{
    background-color: rgba(121, 178, 252, .5);
    padding: 1em 5em 1em 1em;
}

#op img{
    float: left;
    margin-right: .9rem;
}

#op ul li{
    padding: .5em;
    font-size: .8rem;
    list-style: none;
    background-color: white;
}

#juan{
    background-color: #edebe1;
    padding: .725em;
}

main{
    display: flex;   
}

#main{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    align-items:stretch;
    justify-content: space-around;
    flex-grow: 1;
}

#tv{
    padding: 0.5em .7em .7em 0em;
    background-color: rgba(214, 214, 214, 0.568);
}

#main h2{
    font-size: 1.50em;
}

.elementossep {
    display: flex;
    justify-content: space-between;
}

#float1 {
    color: black
}

#float2 {
    color: black;
}


aside{
    flex-direction: column;
    padding-left: 16em;
}

.dere{
    background-color: rgba(214, 214, 214, 0.568);
    padding: .8em;
    font-size: 1.125rem;
    margin-bottom: 1.5em;
    width: 60%;
}

.dere h3{
    background-color: rgba(121, 178, 252, .5);
    padding: 1em;
}

.dere ul{
    list-style: none;
}

.dere img{
    
    float: left;
    margin-right: .9rem;
}

#fechas span{
    float: left;  
    font-size: 2em;
    padding-right: 0.6em;
}

#fechas p{
    font-size: .8em;
}

#fechas ul li{
    padding: .5em;
    justify-content: end;
    list-style: none;
    background-color: white;
}

.tabla {
    width: 200%;
}

#libros ul li{
    display: flex;
    padding-top: 1em;
    font-size: .8em;
    list-style: none;
    background-color: white;
}
#libros img{
    float: left;
    margin-right: .9rem;
}


.boton {
    background-color: rgb(1, 146, 200);
    padding: 0.3em;
    color: white;
    text-decoration: none;
    display: inline-block;
} 

#tabla {
    border-top: 1px solid black;
}
